.header__link {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  line-height: 1.2;
  font-weight: bold;
}

@media screen and (max-width: 405px) {
  .header__link {
    font-size: 11px;
  }
}